.App {
  text-align: center;
  margin:50px 30px;
  padding:20px;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?auto=format&fit=crop&q=80&w=2072&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
}

.todolist{
  display: flex;
  flex-direction: column;
  background-color: rgb(13, 5, 5);
  border-radius: 9999px;
 
}
h2{
  text-shadow: 2px 2px 0px rgb(182, 54, 54) ;
  text-transform: uppercase;
  font-size:55px;
  font-family: 'Times New Roman', Times, serif;
}
.todolist ul li{
  width: 300px;
  margin: 10px;
  list-style-type:"👉";
  cursor: pointer;
  border: 3px rgb(235, 119, 119) solid;
  border-radius: 9999px;
  color: aliceblue;
}

input{
  margin:20px;
  border-radius:9999px ;
  cursor:pointer;
  width: 50%;
  height:25px;
  text-align: center;
  margin:0 auto;
 
}
button{
  border-radius:9999px;
  width: 20%;
  height:30px ;
  margin:20px auto;
  background-color: teal;
  cursor:pointer;

}

button:hover{
background-color:blue;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.done {
  text-decoration: line-through;
}
.trash{
  cursor:pointer;
  color: brown;
 
}
.completed{
  cursor:pointer;
 
}
.message{
  font-weight: 300;
  font-size: larger;
}